<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connectionstr" connectionString="Data Source = EHILP-340; Initial Catalog = BankingApp; Integrated Security = True"
   providerName="System.Data.Sqlclient" />
  <add name="Banking.UserInterface.Properties.Settings.BankingAppConnectionString"
   connectionString="Data Source=EHILP-340;Initial Catalog=BankingApp;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>